<div id="particles-js"></div>

<div class="plays-5-page">
  <div class="container-fluid">

      <div class="nav-zone">
        <%= link_to '#', class: 'js-btn-5', "data-turbolinks": false do %>
          <button type="button" class="btn btn-primary btn-lg">押せ！</button>
        <% end %>

        <%= link_to '#', class: 'js-bad-btn-5-1', "data-turbolinks": false do %>
          <button type="button" class="btn btn-danger btn-lg">押せ！</button>
        <% end %>

        <%= link_to '#', class: 'js-bad-btn-5-2', "data-turbolinks": false do %>
          <button type="button" class="btn btn-primary btn-lg">押すな！</button>
        <% end %>

        <%= link_to '#', class: 'js-bad-btn-5-3', "data-turbolinks": false do %>
          <button type="button" class="btn btn-danger btn-lg">押すな！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-4', "data-turbolinks": false do %>
          <button type="button" class="btn btn-primary btn-lg">押すな！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-5', "data-turbolinks": false do %>
          <button type="button" class="btn btn-success btn-lg">押せ！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-6', "data-turbolinks": false do %>
          <button type="button" class="btn btn-danger btn-lg">押すな！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-7', "data-turbolinks": false do %>
          <button type="button" class="btn btn-success btn-lg">押すな！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-8', "data-turbolinks": false do %>
          <button type="button" class="btn btn-warning btn-lg">押すな！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-9', "data-turbolinks": false do %>
          <button type="button" class="btn btn-danger btn-lg">押せ！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-10', "data-turbolinks": false do %>
          <button type="button" class="btn btn-warning btn-lg">押せ！</button>
        <% end %> 

        <%= link_to '#', class: 'js-bad-btn-5-11', "data-turbolinks": false do %>
          <button type="button" class="btn btn-primary btn-lg">押すな！</button>
        <% end %> 
      </div>

      <h1 class="level text-white text-center">Level.5<h1>

      <div class="js-message-5">
          <p>動くナビゲーションバーに慣れましょう。</p>
      </div>

  </div>
<div>