<div id="particles-js"></div>

<div class="top-page">
  <div class="container-fluid">
  <div class="row">

    <div class="top-card col-8">
      <h1 class="top-title text-center">Navbar絶対押させない。</h1>
      <p class="top-introduction text-center">
        制限時間内に<button type="button" class="btn btn-primary btn-sm">押せ！</button>を押すだけの超簡単ゲームです.<br>
        レベルは１から５までです.<br>
        <br>
        レベル５以外は全てウォーミングアップです.
      </p>

      <ul class="list-group list-group-horizontal-lg text-center">
        <li class="list-group-item flex-fill">
          <%= link_to 'Lv.1', plays_1_path, "data-turbolinks": false %>
        </li>

        <li class="list-group-item flex-fill">
          <%= link_to 'Lv.2', plays_2_path, "data-turbolinks": false %> 
        </li>

        <li class="list-group-item flex-fill">
          <%= link_to 'Lv.3', plays_3_path, "data-turbolinks": false %>
        </li>

        <li class="list-group-item flex-fill">
          <%= link_to 'Lv.4', plays_4_path, "data-turbolinks": false %>
        </li>

        <li class="list-group-item flex-fill">
          <%= link_to 'Lv.5', plays_5_path, "data-turbolinks": false %>
        </li>
      </ul>

      <p class="text-white text-center sorry">※ デザインがGoogle拡張機能 'DARK READER' に対応してません。ほんまにすいません。</p>
      
    </div>
    
  </div>
  </div>
</div>

 

