<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Navbar絶対押させない">
    <meta property="og:description" content="ボタンが押せたらクリアの超簡単ゲームです。">
    <meta property="og:url" content="https://navbar-game.herokuapp.com/">
    <meta property="og:image" content="https://gyazo.com/8e73c0537b25c4a89a2988ad6555ce12">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Navbar絶対押させない">

    <title>NavbarGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
